*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #ededed;
  --color-secondary: #7a7a7a;
  --color-tertiary: #ffd15b;
  --color-dark: #000;
  --color-white: #fff;
}

* {
  font-family: 'Manrope', sans-serif;
}

html body {
  background-color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
}

button,
a {
  cursor: pointer;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

input::placeholder {
  color: var(--color-secondary);
}

li {
  list-style: none;
}
