@import url('https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import 'reset.css';

main {
  margin: 0 100px;
}

/*--------*/
/* HEADER */
/*--------*/
header {
  background: url('/assets/images/banner.webp') no-repeat center center/cover;
  height: 670px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 10dvh;
  padding-left: 5dvw;
}

.header__logo img:first-child {
  width: 180px;
  height: 25px;
  padding-right: 10px;
}

.header__title {
  font-size: clamp(2rem, 5vw, 3rem);
  width: 55%;
  height: 132px;
  color: var(--color-tertiary);
  font-weight: 400;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.2;
}

.header__search {
  width: 60%;
  height: 70px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header__search input {
  width: 90%;
  height: 100%;
  font-size: 1rem;
  padding-right: 10px;
}

.header__search .clean-search {
  margin-right: 25px;
  display: none;
  cursor: pointer;
}

.header__search button {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--------*/
/* FILTERS */
/*--------*/
.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  margin: 30px 0 200px;
}

.filters__container {
  display: flex;
  align-items: center;
}

.filters__container__ingredients,
.filters__container__appareils,
.filters__container__ustensiles {
  position: relative;
}

.dropdown__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
  width: 195px;
  padding: 17px 16px;
  background: var(--color-white);
  border-radius: 11px;
  font-weight: 500;
}

.dropdown-search {
  display: none;
  position: absolute;
  height: 315px;
  width: 195px;
  background: var(--color-white);
}

.dropdown__button .chevron-up {
  display: none;
}

.dropdown-search input {
  border: none;
  width: 90px;
  margin: 5px;
  color: #7a7a7a;
}

.dropdown-search img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(100%);
}

.input-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 163px;
  height: 40px;
  margin-bottom: 20px;
  border: #c6c6c6 1px solid;
  border-radius: 2px;
  margin-left: 16px;
}

.show {
  display: block;
  height: 315px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
  padding-top: -10px;
  box-shadow: 0 -10px var(--color-white);
}

.total-recipes {
  font-size: 21px;
  margin-right: 25px;
}

.gallery .no-result {
  width: 100%;
  text-align: center;
  margin-top: 70px;
  font-size: 20px;
}

/*-------*/
/* Cards */
/*-------*/
main .container-fluid {
  padding: 0;
}

.col {
  width: 23.75rem;
  padding: 0;
}

.card {
  margin-bottom: 66px;
  border-radius: 21px !important;
  box-shadow: 0 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.card-img-top {
  border-radius: 21px 21px 0 0 !important;
  height: 250px;
  object-fit: cover;
}

.badge {
  position: absolute;
  top: 21px;
  right: 22px;
  background: var(--color-tertiary);
  width: 63px;
  height: 26px;
  font-size: 12px;
  border-radius: 14px !important;
}

.card .card-body {
  padding: 0 30px 30px;
}

.card .card-title {
  font-size: 18px;
  margin: 30px 0;
}

.recette,
.ingredients {
  color: var(--color-secondary);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .card-text {
  font-size: 14px;
  margin-bottom: 32px;
  height: 80px;
  white-space: break-spaces;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ingredient-quantity {
  margin-bottom: 20px;
  font-weight: 500;
}

.ingredient-quantity p {
  font-size: 14px;
  margin-bottom: 0;
}

.ingredient-quantity .quantity {
  color: var(--color-secondary);
}

/*----------------*/
/* MEDIA QUERIES */
/*----------------*/
@media screen and (max-width: 1024px) {
  main {
    margin: 0 70px;
  }
}

@media screen and (max-width: 990px) {
  .card .card-text {
    margin-bottom: 24px;
  }
  .filters {
    flex-direction: column-reverse;
    height: 100px;
  }
  .total-recipes {
    margin: 20px 0;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 0 40px;
  }

  header {
    height: 60vh;
  }

  .header__title {
    width: 80%;
  }

  .header__search {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  main {
    margin: 0 20px;
  }

  .header__title {
    width: 90%;
  }

  .header__search {
    width: 90%;
  }

  .header__search input::placeholder {
    font-size: 0.8rem;
  }

  .card .card-title {
    margin: 15px 0;
  }

  .card .card-body {
    padding: 0 20px 20px;
  }

  .ingredient-quantity {
    margin-bottom: 10px;
  }
}
